:root {
  --color-primary: #213047;
  --color-secondary: #f49141;
  --color-accent: #b3b4b8;
  --color-headings: #fb5200;
  --color-body: #232031;
}

html {
  /*62.5% of 16px = 10px*/
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: #fff;
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/*LInk*/
a {
  text-decoration: none;
}

/*Lists*/

.list {
  list-style: none;
  padding: 0;
  color: var(--color-body);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--phone {
  list-style-image: url(../images/icons/phone.svg);
  padding: 30px;
}
.list--phone .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tik .list__item {
    padding-left: 0;
  }
}

/*Icon*/

.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--color-headings);
}
.icon--red {
  fill: #610404;
}

.icon--white {
  fill: #d2e0eb;
}

.icon-container {
  background: rgb(245, 201, 245);
  width: 64px;
  height: 64px;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/*Buttons*/

.btn {
  border-radius: 36px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 2rem 3rem;
  margin: 1rem 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
}

.btn--primary {
  background: rgb(9, 9, 53);
  color: #fff;
}
.btn--primary:hover {
  background: #338bb88c;
}

.btn--secondary {
  background: rgb(9, 9, 53);
  color: #fff;
}

.btn--secondary:hover {
  background: rgb(66, 66, 187);
}

.btn--outline {
  background: rgb(64, 128, 211);
  color: #fff;
  border: 2px solid var(--color-headings);
}
.btn--outline:hover {
  background: rgb(45, 99, 131);
}
.btn--accent {
  background: var(--color-accent);
  color: #fff;
}
.btn--accent:hover {
  background: #ec3000;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

@media screen and(min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
  .btn--block {
    width: auto;
    display: inline-block;
  }
}

/*Grids*/
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*Blocks*/
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.block__heading {
  margin-top: 0;
}
.block__header {
  text-align: center;
}

.block--dark {
  background: #000;
  color: #7b858b;
}

.block--dark h1,
.block--dark h2,
.block--dark h3,
.block--dark h4 {
  color: #fff;
}

.block--skewed-right {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0 14%, 100% 0, 100% 100%, 0 100%);
}

/*Collapsibles*/

.collapsible__header {
  display: flex;
  justify-content: space-between;
}
.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__phone {
  transform: rotate(-25deg);
  transition: 0.3s;
}
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__phone {
  transform: rotate(0);
}
.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/*Navigation Bar*/

.nav {
  background: black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
}

.nav__item > a {
  color: #d2d0db;
  transition: color 0.3s;
}
.nav__item > a:hover {
  color: #fff;
}
.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}
.nav__brand img {
  width: 8rem;
  height: 8rem;
}
.nav__brand {
  transform: translateY(3px);
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }
  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    border: 0;
  }
}

/*Hero*/

.hero {
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
.hero__tagline {
  font-size: 2rem;
  color: #b9c3cf;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}

.hero__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
  }
  .hero__content {
    text-align: left;
    align-self: center;
  }
}

/*Footer*/

.footer {
  background: #232323;
}
.footer a {
  color: #777;
}
.footer a:hover {
  color: #fff;
  transition: color 0.3s;
}

.footer__section {
  padding: 2rem;
  border-bottom: 1px solid #393939;
}

.footer__section .list {
  margin: 0;
}

.footer__heading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.5;
}

.footer__brand {
  margin-top: 5rem;
  text-align: center;
}

.footer__copyright {
  font-size: 2.1rem;
  color: #fff;
  opacity: 0.3;
}
.warning {
  text-align: center;
  color: white;
}

@media screen and (min-width: 768px) {
  .footer__sections {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  .footer .collapsible__phone {
    display: none;
  }

  .footer .collapsible__content {
    opacity: 1;
    max-height: 100%;
  }

  .footer__brand {
    order: -1;
    margin-top: 1rem;
  }
  .footer__copyright {
    font-size: 1.5rem;
  }

  .footer__section {
    border: 0;
  }

  .footer__heading {
    font-size: 1.6rem;
  }
  .footer__section .list {
    font-size: 1.6rem;
  }

  .footer {
    padding-top: 0;
    padding-bottom: 1rem;
  }
}

/**/

.block--blue {
  background: rgb(13 43 66 / 80%);
  color: #7b858b;
  padding: 0.5rem;
}

.playStore {
  display: grid;
  margin-top: 1rem;
  margin-left: 2rem;
  justify-content: center;
}
.playStore img {
  width: 20rem;
  height: 7rem;
  border: 1px solid white;
  border-radius: 8px;
  margin-top: 2rem;
  margin-left: 5rem;
}

.PlayStore__text {
  color: #fff;
}

/**/
.video-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: "";
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

strong {
  color: red;
}
