<section class="block block--dark block--skewed-left hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">PLAY AND EARN MONEY ONLINE !!!!</h1>
      <p class="hero__tagline">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et fugit dolor
        architecto illo adipisci tempore blanditiis obcaecati temporibus ex
        iste.
      </p>
      <a href="" class="btn btn--accent btn--block">GET START</a>
    </header>
    <img class="hero__image" src="images/poker@1.jpg" alt="" />
  </div>
</section>
